* {
    margin: 0;
    padding: 0;
    box-sizing: content-box; }
  
  body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    
    color: #777;
    padding: 30px; }
    
    .left{
        position: relative;
        right: 5px;
        width: 500px;
        padding: .2px;
    }
    .right {
        position: absolute;
        right: 5px;
        width: 500px;
        padding: .2px;
        height: 50%;
      }

input[type=text], input[type=password] {
        width: 100%;
        background: rgb(204, 200, 175);
        height: 30px;
        align-items: right;
        padding: 15px 25px;
        margin: 8px 10px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 15%;
        box-sizing: border-box;
      }
      
      button {
        background-color: #04AA6D;
        color: white;
        border-radius: 12px;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 30%;
      }
      
      button:hover {
        opacity: 0.8;
      }
      
    
      
      .container {
        height: 200px;
        padding: 20px;
        text-align: center;
      }
      
      span.psw {
        float: right;
        padding-top: 16px;
      }
      
      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
      }
      .header {
        height: 45vh;
        
        border-radius: 10%;
        background: rgb(50, 180, 3);
        background: linear-gradient(90deg, rgba(63,231,0,1) 40%, rgba(187,231,0,1) 49%);
        background-size: cover;
        background-position: top;
        position: relative;
        clip-path: polygon(25% 0, 44% 0, 69% 0, 57% 20%, 48% 40%, 27% 47%, 11% 61%, 0 36%, 0 0);
    }
      
    .footer{
        height: 50vh;
        border-radius: 10%;
        background: rgb(50, 180, 3);
        background: linear-gradient(90deg, rgba(63,231,0,1) 40%, rgba(187,231,0,1) 49%);
        background-size: cover;
        background-position: top;
        position: relative;
        clip-path: polygon(14% 54%, 30% 62%, 43% 74%, 65% 81%, 78% 100%, 48% 100%, 19% 100%, 0 100%, 0 34%); }


